{% extends "base.html" %} {% load static %} {% block content %}
<!-- ===== Header Start ===== -->
{% include "header.html" %}
<!-- ===== Header End ===== -->

<main>
  <!-- ===== Hero Start ===== -->
  {% include "hero.html" %}
  <!-- ===== Hero End ===== -->

  <!-- ===== Small Features Start ===== -->
  {% include "features.html" %}
  <!-- ===== Small Features End ===== -->

  <!-- ===== About Start ===== -->
  {% include "about.html" %}
  <!-- ===== About End ===== -->

  <!-- ===== Team Start ===== -->
  {% include "team.html" %}
  <!-- ===== Team End ===== -->

  <!-- ===== Services Start ===== -->
  {% include "services.html" %}
  <!-- ===== Services End ===== -->

  <!-- ===== Pricing Table Start ===== -->
  {% include "pricing-table.html" %}
  <!-- ===== Pricing Table End ===== -->

  <!-- ===== Projects Start ===== -->
  {% include "projects.html" %}
  <!-- ===== Projects End ===== -->

  <!-- ===== Testimonials Start ===== -->
  {% include "testimonials.html" %}
  <!-- ===== Testimonials End ===== -->

  <!-- ===== Counter Start ===== -->
  {% include "counter.html" %}
  <!-- ===== Counter End ===== -->

  <!-- ===== Clients Start ===== -->
  {% include "clients.html" %}
  <!-- ===== Clients End ===== -->

  <!-- ===== Blog Start ===== -->
  {% include "blog.html" %}
  <!-- ===== Blog End ===== -->

  <!-- ===== Contact Start ===== -->
  {% include "contact.html" %}
  <!-- ===== Contact End ===== -->

  <!-- ===== CTA Start ===== -->
  {% include "cta.html" %}
  <!-- ===== CTA End ===== -->
</main>
<!-- ===== Footer Start ===== -->
{% include "footer.html" %}
<!-- ===== Footer End ===== -->

<!-- ====== Back To Top Start ===== -->
{% include "back.html" %}
<!-- ====== Back To Top End ===== -->

{% endblock content %}
